:root {
  font-size:16px;
}

.App {
  text-align: center;
  margin: 0 auto;
  width: 400px;
}

h1, h2 {
  font-weight:300;
}

textarea {
  width: 100%;
}

td, th {
  padding: 5px 20px;
  text-align: left;
}

tr:not(:last-child) td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

th {
  font-size:0.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color:rgba(0,0,0,.6);
  font-weight: bold;
}
.search-results {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iso-country-code {
  text-align: center;
}